.navbar {
  border: solid 5px chartreuse;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 50px;
  position: sticky;
  top: 0px;
}

button {
  height: 25px;
  width: 100px;
  margin: 10px;
  background-color: aquamarine;
  border-radius: 5px;
}
